.custom-table th,
.custom-table td {
  padding: 15px; /* Adjust the padding as needed */
  text-align: center;
  width: 10%;
}

.table-container{
  padding: 10px;
}
.custom-table th {
  font-weight: bold;
  background-color: #f5f5f5; /* Header background color */
}

.custom-table td {
  vertical-align: middle; /* Center the text vertically */
}

.custom-table .MuiButton-root {
  min-width: 130px; 
}

.custom-table .MuiTableCell-root {
  border-bottom: 1px solid #ddd; /* Border between rows */
}

.custom-table .MuiTablePagination-root {
  padding: 0 16px; /* Padding for the pagination control */
}
